body {
  background-color: beige;
   text-align: center;
}
h1 {
  color: black;           
  font-size: 100px;          
  font-weight: bold;        
  text-align: center;       
  margin-top: 20px;         
  font-family: 'Georgia', serif; 
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to right, black, darkred);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  color: white;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  font-size: 25px;
  border-style:dotted;
  transition: all 0.3s ease;
}
p a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  transition: transform 0.3s ease, color 0.3s ease;
  display: inline-block;
}

p a:hover {
  color: #ffd700; 
  transform: scale(1.05); 
  text-decoration: underline;
}
img {
  transition: transform 0.3s ease; 
  border-radius: 8px; 
}

img:hover {
  transform: scale(1.9); 
}
a {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background-color: darkred;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
a:hover {
  background-color: black;
  transform: scale(1.05);
}